<div class="container">
  <div class="section">
    <!-- Cursos -->
    <div class="card-panel">
      <h5>Cursos</h5>
      <div class="row">
        <form class="col s12" ng-submit="save()">
          <div class="input-field">
            <input id="curso_nome" value="" type="text" ng-model="curso.nome" required />
            <label for="curso_nome">Nome da Curso</label>
          </div>
          <button type="submit" class="btn">Inserir</button>
        </form>
      </div>
      <div class="row">
        <div class="col s12">
          <ul class="collapsible popout" data-collapsible="accordion" watch>
            <li ng-repeat="curso in cursos | orderBy:'nome'">
              <div class="collapsible-header">{{curso.nome}}<a class="secondary-content" ng-click="delete(curso.id)"><i class="material-icons">delete</i></a></div>
              <div class="collapsible-body">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
