<div class="container">
  <div class="section">
    <!-- disciplinas -->
    <div class="card-panel">
      <h5>Disciplinas</h5>
      <div class="row">
        <form class="col s12" ng-submit="save()">
          <div class="input-field">
            <input id="disciplina_nome" value="" type="text" ng-model="disciplina.nome" required />
            <label for="disciplina_nome">Nome da Disciplina</label>
          </div>
          <button type="submit" class="btn">Inserir</button>
        </form>
      </div>
      <div class="row">
        <div class="col s12">
          <ul class="collapsible popout" data-collapsible="accordion" watch>
            <li ng-repeat="disciplina in disciplinas | orderBy:'nome'">
              <div class="collapsible-header">{{disciplina.nome}}<a class="secondary-content" ng-click="delete(disciplina.id)"><i class="material-icons">delete</i></a></div>
              <div class="collapsible-body">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
