<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Bem vindo(a)!</h1>
    <div class="row center">
      <h5 class="header col s12 light">Deseja gerar um novo quadro de horários de aulas?</h5>
    </div>
    <div class="row center">
      <a href="#1" id="download-button" class="btn-large waves-effect waves-light orange">Vamos começar!</a>
    </div>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Lorem ipsum dolor sit amet</h5>
          <p class="light">Nulla at sapien consequat nisl volutpat ultrices non vitae ligula. Nunc bibendum sit amet mauris sed commodo. Cras ac augue eros. Ut luctus tincidunt suscipit.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Lorem ipsum dolor sit amet</h5>
          <p class="light">Nulla at sapien consequat nisl volutpat ultrices non vitae ligula. Nunc bibendum sit amet mauris sed commodo. Cras ac augue eros. Ut luctus tincidunt suscipit.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Lorem ipsum dolor sit amet</h5>
          <p class="light">Nulla at sapien consequat nisl volutpat ultrices non vitae ligula. Nunc bibendum sit amet mauris sed commodo. Cras ac augue eros. Ut luctus tincidunt suscipit.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
  <div class="section">

  </div>
</div>
