<div class="navbar-fixed">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" ui-sref="main.home" class="brand-logo">QuadroDeAulas</a>
      <ul class="right hide-on-med-and-down">
        <li ui-sref-active="active"><a ui-sref="main.cursos">Cursos</a></li>
        <li ui-sref-active="active"><a ui-sref="main.disciplinas">Disciplinas</a></li>
        <li ui-sref-active="active"><a ui-sref="main.horarios">Horários</a></li>
        <li ui-sref-active="active"><a ui-sref="main.professores">Professores</a></li>
        <li ui-sref-active="active"><a ui-sref="main.turmas">Turmas</a></li>
        <li ui-sref-active="active"><a ui-sref="main.quadros">Quadros</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li ui-sref-active="active"><a ui-sref="main.cursos">Cursos</a></li>
        <li ui-sref-active="active"><a ui-sref="main.disciplinas">Disciplinas</a></li>
        <li ui-sref-active="active"><a ui-sref="main.horarios">Horários</a></li>
        <li ui-sref-active="active"><a ui-sref="main.professores">Professores</a></li>
        <li ui-sref-active="active"><a ui-sref="main.turmas">Turmas</a></li>
        <li ui-sref-active="active"><a ui-sref="main.quadros">Quadros</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
